#output {
  border: 1px solid black;
  margin-top: 8px;
}

#name-input {
  margin-left: 18px;
}

.padding-left {
  padding-left: 20px;
}

.display-flex {
  display: flex;
}

.no-margin {
  margin: 0px 0px 0px 0px;
}